@{
	ViewData["Title"] = "Home";
}

<div class="text-center text-dark">
	<h1 class="display-4"><i class="bi bi-person-square"></i>Seja Bem-Vindo(a) Clinica Barbosa  <span class"fw-bold"></span></h1>

	<p class="leald"> Agende sua consulta agora mesmo!</p>

	<a class=" btn btn-outline-light btn-lg text-dark" asp-area="Identity" asp-page="/Account/Login">Entrar</a>

</div>
